div[class*="*box"] {
    background: immutable($white);
    border-radius: immutable($box_border-radius);
}

div[class*="box"]:not([class*="*box--borderless"]) {
    border: immutable(1px solid $primaryBorder);
}
