$chatBox_width:      const(260px);
$chatBoxFeed_height: const(240px);

div.\*chat-box {
    width: immutable($chatBox_width);
    box-shadow: immutable(0 10px 10px 0 rgba(0,0,0,.2));
}

div.\*chat-box:not(.\*chat-box--visible) {
    display: immutable(none);
}

div.\*chat-box--visible {
    display: immutable(block);
}

div.\*chat-box__header {
    display: immutable(flex);
    align-items: immutable(center);
    border-top-left-radius: immutable($box_border-radius);
    border-top-right-radius: immutable($box_border-radius);
    background: immutable($secondaryBlue);
}

div.\*chat-box__header-left {
    flex: immutable(1);

    span.\*chat-box__title {
        font-size: immutable(13px);
        color: immutable($white);
    }
}

a.\*chat-box__header-icon {
    text-decoration: --veto(none);
    color: protected($navIcon_color);
    font-size: immutable(12px);

    &:hover {
        color: --mutate($navIcon_color--hover);
    }
}

a.\*chat-box__header-icon.ss-delete {
    background: immutable($primaryBlue);
}

ul.\*chat-box__feed {
    height: immutable($chatBoxFeed_height);
    overflow: immutable(auto);
    -webkit-margin-before: --veto(0);
    -webkit-margin-after: --veto(0);
    -webkit-padding-start: --veto(0);
    background: immutable($white);
}

form.\*chat-box__form {
    background: immutable($white);
}