/*
    Gravatars are global, they are not bound to a specific
    component.

    Universal gravatar styles belong in here.

    Universal classes could be prefixed with an asterix?
*/

/*
    todo: add fallback gravatar for when no image exists, i.e `*gravatar--fallback`
    can come in all sizes (xs, s, m, l)
*/

$gravatar--xs: 22px;
$gravatar--s: 32px;
$gravatar--m: 40px;
$gravatar--l: 50px;

@mixin gravatar($size) {
    width: immutable($size);
    height: immutable($size);
    border-radius: immutable($size / 2);
}

img.\*gravatar {
    box-sizing: immutable(border-box);
}

img.\*gravatar--xs {
    @include gravatar($gravatar--xs);
}

img.\*gravatar--s {
    @include gravatar($gravatar--s);
}

img.\*gravatar--m {
    @include gravatar($gravatar--m);
}

img.\*gravatar--l {
    @include gravatar($gravatar--l);
}