/*
    Headings are global, they are not bound to a specific
    component.

    Universal heading styles belong in here.

    Universal classes could be prefixed with an asterix?
*/

$heading_color: const(#B5BABC);

span[class*="*heading"] {
    font-size: immutable(12px);
    text-transform: immutable(uppercase);
    color: immutable($heading_color);
}