
/**
 * Stylesheet demonstrating uncontrolled overrides
 */

/**
 * Browser resets
 */

body, html {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 24px;
}

p {
  font-size: 10px;
}

/**
 * nav
 */

nav li {
  float: left;
  margin: 0 20px;
  list-style: disc /* overrides line 20 */;
}

nav a {
  text-decoration: underline /* overrides line 24 */;
}


/**
 * main
 */

main#page {
  clear: both;
}

main#page h1 {
  font-size: 20px /* overrides line 28 */;
}

main#page div {
  font-size: 6px /* overrides line 67 */;
}

div.page__content {
  font-size: 12px;
}

div.page__content a {
  font-size: 20px /* overrides line 63 */;
}

/**
 * Forms
 */

form[class="base-form"] {
  background: grey;
  border: 1px solid;
}

form[class="signup-form"] {
  background: green;
}

form[class="base-form base-form--saving"] {
  background: grey;
  border: 1px solid;
  opacity: 0.6;
  pointer-events: none;
}

form[class="base-form"] p {
  color: brown;
}

form[class="base-form base-form--saving"] p {
  color: brown;
}
