/**
Media queries --

------------------------------------------------------------------------

<nav>
  display: flex;

  <span.nav__icon>
    width: 50px;
    height: 50px;
    background: cadetblue;
  </span>

  <ul.nav__links>
    display: flex;
    flex: 1;
    padding-left: 0;
    list-style: none;

    <li>
      <a maxWidth="500px">
        padding: 0 10px;
      </a>

      <a minWidth="500px" maxWidth="900px">
        padding: 0 20px;
      </a>

      <a minWidth="900px">
        padding: 0 50px;
      </a>
    </li>
  </ul>
</nav>

*/

nav {
  display: flex;
}

nav > span[class="nav__icon"] {
  width: 50px;
  height: 50px;
  background: cadetblue;
}

nav > ul[class="nav__links"] {
  display: flex;
  flex: 1;
  padding-left: 0;
  list-style: none;
}

@media (max-width:500px) {
  nav > ul[class="nav__links"] > li > a {
    padding: 0 10px;
  }
}

@media (min-width:501px) and (max-width:900px) {
  nav > ul[class="nav__links"] > li > a {
    padding: 0 20px;
  }
}

@media (min-width:901px) {
  nav > ul[class="nav__links"] > li > a {
    padding: 0 50px;
  }
}
