// <componentName_property--modifier>

// Breakpoints

$xs: const(660px); // 2 col
$s:  const(875px); // 3 col
$m:  const(1090px); // 4 col
$l:  const(1390px); // 5 col
$xl: const(1605px); // 6 col

$leftShelf_breakpoint: const(1275px);

// Scaffolding

$viewport-gutter--xs: 10px; // can't be const since it's used in a sass calculation
$viewport-gutter: 20px; // can't be const since it's used in a sass calculation

$nav_height: 56px; // can't be const since it's used in a sass calculation
$leftShelf_width: const(240px);

// Dimensions

$click_padding: 5px; // can't be const since it's used in a sass calculation

$icon_size--s: const(12px);
$icon_size--m: const(16px);
$mediaItem_width: const(210px);

// Colors

$white: const(#FFFFFF);

$primary-icon_color: const(#888888);
$secondary-icon_color: const(#A0A0A0);

// Nav

$navSearchField_border-radius: const(2px);

// Left shelf

$left-shelf-icon_color: const(#888888);
$left-shelf-icon_color--active: const(#E91D00);

