
.immutable(@property, @value) {
    // Would be nice to uppercase property name here
    @{property}: @value;

    &when(@__ENV = dev) {
        debug: "@{property} is immutable";
    }
}

.protected(@property, @value) {
    // Would be nice to capitalize property name here
     @{property}: @value;

     &when(@__ENV = dev) {
        debug: "@{property} is protected";
    }
}

.public(@property, @value) {
    // Need a way of denoting public properties (currently 2nd letter is uppercase)
     @{property}: @value;

     &when(@__ENV = dev) {
        debug: "@{property} is public";
    }
}

// Safely modify protected properties
.override(@property, @value) {
    @{property}: @value;

    &when(@__ENV = dev) {
        debug: "@{property} overriden by pseudo-class";
    }
}

// Safely modify public properties
.mutate(@property, @value) {
     @{property}: @value;

    &when(@__ENV = dev) {
        debug: "@{property} mutated by parent pseudo-class";
    }
}
