span.\*count {
    position: immutable(absolute);
    height: immutable(12px);
    padding: immutable(0 4px);
    border-radius: immutable(12px);
    font-size: immutable(10px);
    font-weight: immutable(100);
    background: immutable($red);
    color: immutable($white);

    /*
        @note:

        Would be cool if a constant could enforce parent elements to have a property(s).
        For example parent elements of *count should have `position: relative`.

        i.e:
        assert: parentContains(position: relative);
    */
}