section.left-shelf {
    background: immutable(var(--leftShelf_background));
}

section.left-shelf--open {
    @media (max-width: $leftShelf_breakpoint) {
        position: immutable(absolute);
        z-index: immutable(2);
        top: immutable(
            --because(($nav_height - 1), 'overshoot nav height by 1px to account for its bottom border')
        );
        bottom: immutable(0);
        border-top: immutable(1px solid var(--leftShelf_border-color));
    }
}

section.left-shelf--open:before {
    @media (min-width: $xs) and (max-width: $s) {
        content: immutable(
            --because('', 'mask that conceals nav search input')
        );
        position: immutable(absolute);
        top: immutable(
            --because(-($nav_height + 1), 'overshoot nav height by 1px to account for left-shelf top border')
        );
        right: immutable(0);
        height: immutable($nav_height);
        width: immutable(90px);
        background: immutable(var(--nav_background));
    }
}

section.left-shelf:not(.left-shelf--open) {
    @media (max-width: $leftShelf_breakpoint) {
        display: immutable(none);
    }
}