code {
    @media (max-width: $small)  {
        &.\$small {
            display: block;
        }

        &.\$small2\$medium,
        &.\$medium,
        &.\$medium2\$large,
        &.\$large {
            display: none;
        }
    }

    @media (min-width: $small) and (max-width: $medium)  {
        &.\$small2\$medium {
            display: block;
        }

        &.\$small,
        &.\$medium,
        &.\$medium2\$large,
        &.\$large {
            display: none;
        }
    }

    @media (min-width: $medium) and (max-width: $large) {
        &.\$medium,
        &.\$medium2\$large {
            display: block;
        }

        &.\$small,
        &.\$small2\$medium,
        &.\$large {
            display: none;
        }
    }

    @media (min-width: $large) {
        &.\$medium,
        &.\$large {
            display: block;
        }

        &.\$small,
        &.\$small2\$medium,
        &.\$medium2\$large {
            display: none;
        }
    }
}