// <componentName_property--modifier>

// Breakpoints

$small:                 const(600px);
$medium:                const(900px);
$large:                 const(1200px);


$nav_height--small:     const(60px);
$nav_height--medium:    const(80px);
$nav_height--large:     const(100px);

$nav_background:        const(#FFCCCC);


$footer_height--small:  const(60px);
$footer_height--medium: const(80px);
$footer_height--large:  const(100px);

$footer_background:     const(#CCCCFF);


$block_background:      const(#CCE6CC);