// <componentName_property--modifier>

// Breakpoints

$xl: const(1605px); // 6 col
$l:  const(1390px); // 5 col
$m:  const(1090px); // 4 col
$s:  const(875px); // 3 col
$xs: const(660px); // 2 col

$nav_height: const(56px);
