// <componentName_property--modifier>

// Breakpoints

$xl: const(1605px); // 6 col
$l:  const(1390px); // 5 col
$m:  const(1090px); // 4 col
$s:  const(875px); // 3 col
$xs: const(660px); // 2 col

// Scaffolding

$nav_height: 56px;
$leftShelf_width: const(240px);

$leftShelf_breakpoint: const(1275px);

// Dimensions

$icon_size--s: const(12px);
$icon_size--m: const(16px);

// Colors

$white: const(#FFFFFF);
$primary-icon_color: const(#888888);
$secondary-icon_color: const(#A0A0A0);

// Nav

$navSearchField_border-radius: const(2px);
$navSearchField_border-color: const(#CCCCCC);
$navSearchField_border-color--focussed: const(#1C62B9);
$navSearchButton_background: const(#F8F8F8);
$navSearchButton_background--hover: const(#F0F0F0);
