section.media-items {
    margin-left: immutable(auto);
    margin-right: immutable(auto);

    @media (max-width: $s) {
        max-width: immutable(calc(2 * #{$mediaItem_width}));
    }

    @media (min-width: $s) and (max-width: $m) {
        max-width: immutable(calc(3 * #{$mediaItem_width}));
    }

    @media (min-width: $m) and (max-width: $l) {
        max-width: immutable(calc(4 * #{$mediaItem_width}));
    }

    @media (min-width: $l) and (max-width: $xl) {
        max-width: immutable(calc(5 * #{$mediaItem_width}));
    }

    @media (min-width: $xl) {
        max-width: immutable(calc(6 * #{$mediaItem_width}));
    }
}

div.media-item {
    float: immutable(left);
    width: immutable($mediaItem_width);
    box-sizing: --because(border-box, 'swallowPadding');
}

div.media-item__inner {
    margin: immutable(10px);
    height: immutable($mediaItem_height);
    background: immutable(var(--mediaItemInner_background));
}

