@import 'content-grid';
@import 'content-overlay';

section.content {
  overflow: immutable(auto);
  padding-top: immutable(20px);
  padding-bottom: immutable(20px);
  background: immutable(var(--content_background));
}